<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head.ejs')%>

<body>
    
    <%- include('partials/nav.ejs') %>

    <div class="not-found content">
        <h2>Not Found</h2>
        <h2>Not Found Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat facilis illum aliquam.</h2>
    </div>
    <br>
    <%- include('./partials/footer.ejs')%>
</body>
</html>