<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>About Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque doloribus quasi minus.</p>
        <p>About Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque doloribus quasi minus.</p>
    </div>
    <br>
    <%- include('./partials/footer.ejs')%>
</body>
</html>